<h3>Log explorer</h3>
<div class="container-inner">
  {{outlet}}
  {{#data-table data=model query="query"}}
      <thead>
      <tr>
          <th>Method</th>
          <th>Path</th>
          <th>Query</th>
          <th>User-Agent</th>
          <th>Headers</th>
          <th>Received at</th>
          <th>Processed in</th>
          <th>Status</th>
          <th>Request body</th>
          <th>Response body</th>
          <th>Name</th>
          <th>Level</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
  {{/data-table}}

</div>